/*
    This CSS file contains the core styling that applies across the entire website.
*/
* {
    font-family: Helvetica;
}
body{
	padding-top: 56px;
}
.header {
	text-align: center;
	font-size: 35px;
}
.btn {
	background-color: white ;
	color:#761EE8;
	border-color: white;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 40px; 
	border-radius: 25px;
	font-size: 18px;
}
.btn:hover {
	background-color: #761EE8;
	color:white;
	border-color: #761EE8;
	border-radius: 25px;
	font-size: 18px;
}
.button {
	background-color: #761EE8;
	color:white !important;
	border-color: #761EE8;
	box-shadow: none;
	font-size: 18px;
}
.button:hover {
	background-color: white;
	color:#761EE8 !important;
	border-color: white;
}
.center{
	text-align: center;
}
#site-title {
	font-size: 110px;
	font-variant: small-caps;
	color: #761EE8;
}
#slogan
{
	font-family:Comic Sans MS;
	font-size: 50px;
	padding-top: 30px;
}
.form {
	color: #761EE8;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 25px;
}
label{
	font-weight: bold;    
    width: 250px;
    text-align: right;
}  
input {
    border-radius: 4px;
    margin-bottom:10px;
    padding: 5px;
    border-color: #761EE8;
}
input:focus {
	background-color: #E1DCF7;
}
.error {
	color: red;
	font-size: 13px;
	padding-bottom: 4px;
	padding-left: 50px;
}
#nameError {
	position: relative; 
	left: 45px;	
}
#emailError {
	position: relative; 
	left: 45px;	
}
#phoneError {
	position: relative; 
	left: 190px;	
}
.logo, .logo:hover {
	font-variant: small-caps;
	border-radius: 15px;
}
.navbar {
	background-color: #F0F6FA !important;
	font-size: 20px !important;
}
.navbar-nav a{
  color: #761EE8 !important;
}
.navbar-nav .active {
  color: #B187E8 !important;
}
.navbar-nav a:hover{
	color: #B187E8 !important;
}
footer {
	background-color: #F0F6FA;
	padding: 15px;
	padding-top: 30px;
	padding-left: 50px;
	color: #761EE8;
	font-size: 14px;
}
#termsOfUseFooter {
	font-size: 17px;
	text-decoration: none;
	color: inherit;
}

