<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Compare Prices | Price Advisor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/compare-prices.css}" rel="stylesheet"/>
</head>

<body>
<!-- beginning of header -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="btn button logo">Price Advisor</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-supported-content"
                aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-supported-content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-items">Add Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/compare-prices">Compare Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage-users">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of header -->

<div id="error-message" style="top: 10px;" class="alert alert-danger text-center" th:if="${errorMessage != null}"
     role="alert">
    <span th:text="${errorMessage}"></span>
</div>
<br>
<form id="edit-items-form">
    <!-- Grid.js Table for Managing Items -->
    <div class="container my-2">
        <div id="item-table"></div>
    </div>
    <div class="container" id="buttons-container" style="margin-left: 101px; display: none">
        <div class="d-flex justify-content-between my-2">
            <div>
                <a class="btn btn-danger disabled" id="delete-button" style="width: 170px;">Delete Selected</a>
            </div>
            <div>
                <button type="submit" class="btn button" id="save-changes-button" style="width: 170px;">Save Changes
                </button>
            </div>
        </div>
    </div>
</form>
<br>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="delete-confirmation-modal" tabindex="-1" aria-labelledby="delete-confirmation-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-confirmation-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure you want to delete the selected item(s)? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirm-delete-button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Save Changes Confirmation Modal -->
<div class="modal fade" id="save-changes-confirmation-modal" tabindex="-1"
     aria-labelledby="save-changes-confirmation-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="save-changes-confirmation-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to save the changes?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirm-save-changes" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Successful Login -->
<div class="modal fade" id="login-success-modal" tabindex="-1" aria-labelledby="login-success-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #39DB14; color: white;">
            <div class="modal-body text-center">
                <h5 class="modal-title" id="login-success-modal-label">Signed In</h5>
            </div>
        </div>
    </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" aria-labelledby="success-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #39DB14; color: white;">
            <div class="modal-body text-center">
                <h5 class="modal-title" id="success-modal-label" th:text="${successMessage}"></h5>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {

        // Handle login success modal display
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('login') && urlParams.get('login') === 'true') {
            const loginSuccessModal = new bootstrap.Modal(document.getElementById('login-success-modal'));
            loginSuccessModal.show();
            history.replaceState(null, null, window.location.pathname);
            setTimeout(function () {
                loginSuccessModal.hide();
            }, 1000);
        }

        // Handle success message modal display
        const successMessage = /*[[${successMessage}]]*/ null;
        const successModal = new bootstrap.Modal(document.getElementById('success-modal'));
        if (successMessage) {
            successModal.show();
            setTimeout(function () {
                successModal.hide();
            }, 1000);
        }

        // Delete confirmation modal
        const deleteConfirmationModal = new bootstrap.Modal(document.getElementById('delete-confirmation-modal'));
        const confirmDeleteButton = document.getElementById('confirm-delete-button');
        confirmDeleteButton.addEventListener('click', function () {
            const selectedItemIds = [];
            const checkboxes = document.querySelectorAll('.gridjs-table input[type="checkbox"]:checked');
            checkboxes.forEach(checkbox => {
                const row = checkbox.closest('.gridjs-tr');
                const itemId = row ? row.getAttribute('item-id') : null;
                if (itemId) {
                    selectedItemIds.push(itemId);
                }
            });

            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/delete-items';
            const itemIdsInput = document.createElement('input');
            itemIdsInput.type = 'hidden';
            itemIdsInput.name = 'itemIds';
            itemIdsInput.value = selectedItemIds.join(',');
            form.appendChild(itemIdsInput);
            document.body.appendChild(form);
            form.submit();
        });

        // Handle saving changes to items
        const editedItems = [];
        const saveChangesConfirmationModal = new bootstrap.Modal(document.getElementById('save-changes-confirmation-modal'));
        const confirmSaveChangesButton = document.getElementById('confirm-save-changes');
        confirmSaveChangesButton.addEventListener('click', function () {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/edit-items';

            const editedItemsInput = document.createElement('input');
            editedItemsInput.type = 'hidden';
            editedItemsInput.name = 'editedItems';
            editedItemsInput.value = JSON.stringify(editedItems);
            form.appendChild(editedItemsInput);

            document.body.appendChild(form);
            form.submit();
        });

        // Set up grid with item data
        const itemData = /*[[${items}]]*/ null;
        const isManager = /*[[${#authorization.expression('hasRole("ROLE_MANAGER")')}]]*/ false; // This checks if the user has the role
        const grid = new gridjs.Grid({
            columns: [
                {
                    id: 'selectRow',
                    name: '',
                    plugin: {
                        component: gridjs.plugins.selection.RowSelection,
                    },
                    width: '58px',
                },
                {
                    id: 'name',
                    name: 'Name',
                    formatter: (cell) => {
                        const formattedCell = cell != null && cell !== '' ? cell : '';

                        if (isManager) {
                            return gridjs.html(`<div contenteditable="true">${formattedCell}</div>`);
                        } else {
                            return formattedCell;
                        }
                    }
                },
                {
                    id: 'upc',
                    name: 'UPC',
                    minWidth: '95px',
                    formatter: (cell) => {
                        const formattedCell = cell != null && cell !== '' ? cell : '';

                        if (isManager) {
                            return gridjs.html(`<div contenteditable="true">${formattedCell}</div>`);
                        } else {
                            return formattedCell;
                        }
                    }
                },
                {
                    id: 'sku',
                    name: 'SKU',
                    minWidth: '95px',
                    formatter: (cell) => {
                        const formattedCell = cell != null && cell !== '' ? cell : '';

                        if (isManager) {
                            return gridjs.html(`<div contenteditable="true">${formattedCell}</div>`);
                        } else {
                            return formattedCell;
                        }
                    }
                },
                {
                    id: 'description',
                    name: 'Description',
                    formatter: (cell) => {
                        const formattedCell = cell != null && cell !== '' ? cell : '';

                        if (isManager) {
                            return gridjs.html(`<div contenteditable="true">${formattedCell}</div>`);
                        } else {
                            return formattedCell;
                        }
                    }
                },
                {
                    id: 'smallBusinessPrice',
                    name: 'Price',
                    minWidth: '70px',
                    formatter: (cell) => {
                        const formattedCell = cell != null
                            ? new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(cell)
                            : '';

                        if (isManager) {
                            return gridjs.html(`<span>$</span><div style="display: inline" contenteditable="true">${formattedCell}</div>`);
                        } else {
                            return `$${formattedCell}`;
                        }
                    }
                },
                {
                    id: 'amazonPrice',
                    name: 'Amazon',
                    minWidth: '70px',
                    formatter: (cell) => {
                        const formattedCell = cell != null
                            ? new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(cell)
                            : '';

                        if (isManager) {
                            return gridjs.html(`<span>$</span><div style="display: inline">${formattedCell}</div>`);
                        } else {
                            return `$${formattedCell}`;
                        }
                    }
                },
                {
                    id: 'walmartPrice',
                    name: 'Walmart',
                    minWidth: '70px',
                    formatter: (cell) => {
                        const formattedCell = cell != null
                            ? new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(cell)
                            : '';

                        if (isManager) {
                            return gridjs.html(`<span>$</span><div style="display: inline">${formattedCell}</div>`);
                        } else {
                            return `$${formattedCell}`;
                        }
                    }
                },
                {
                    id: 'ebayPrice',
                    name: 'Ebay',
                    minWidth: '70px',
                    formatter: (cell) => {
                        const formattedCell = cell != null
                            ? new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(cell)
                            : '';

                        if (isManager) {
                            return gridjs.html(`<span>$</span><div style="display: inline">${formattedCell}</div>`);
                        } else {
                            return `$${formattedCell}`;
                        }
                    }
                },
                {
                    id: 'priceSuggestion',
                    name: 'Suggestion',
                    minWidth: '76px',
                    formatter: (cell) => {
                        switch (cell) {
                            case 'RAISE':
                                return 'Raise';
                            case 'LOWER':
                                return 'Lower';
                            case 'NONE':
                                return '';
                        }
                    },
                },
            ],
            data: itemData.map(item => [
                item.name,
                item.upc,
                item.sku,
                item.description,
                item.smallBusinessPrice,
                item.amazonPrice,
                item.walmartPrice,
                item.ebayPrice,
                item.priceSuggestion
            ]),
            fixedHeader: true,
            search: true,
            searchPlaceholder: "Search...",
            resizable: true,
            language: {
                'search': {
                    'placeholder': 'Search...'
                }
            },
        }).render(document.getElementById('item-table'));


        // Handle item actions on the grid (e.g., delete, save changes)
        setTimeout(function () {
            const buttonsContainer = document.getElementById('buttons-container');
            if(isManager)
                buttonsContainer.style.display = 'block';

            const rows = document.querySelectorAll('.gridjs-tr');

            rows.forEach((row, rowIndex) => {
                if (rowIndex === 0) return;
                const item = itemData[rowIndex - 1];
                const itemId = item.itemId;

                row.setAttribute('item-id', itemId);
            });

            // Handle delete button display logic
            const deleteButton = document.getElementById('delete-button');
            deleteButton.addEventListener('click', function () {
                deleteConfirmationModal.show();
            });
            const checkboxes = document.querySelectorAll('.gridjs-table input[type="checkbox"]');

            function toggleDeleteButton() {
                const atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                if (atLeastOneChecked) {
                    deleteButton.classList.remove('disabled');
                } else {
                    deleteButton.classList.add('disabled');
                }
            }

            toggleDeleteButton();

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', toggleDeleteButton);
            });


            // Handle save changes button click
            const saveChangesButton = document.getElementById('save-changes-button');
            saveChangesButton.addEventListener('click', function (event) {
                const form = document.getElementById('edit-items-form');
                event.preventDefault();

                if (form.reportValidity()) {
                    saveChangesConfirmationModal.show();
                }
            });

            itemData.forEach(item => {
                const row = document.querySelector(`.gridjs-tr[item-id="${item.itemId}"]`);
                if (!row) return;

                // Select the editable fields in the row
                const nameInput = row.querySelector('[data-column-id="name"] div[contenteditable="true"]');
                const upcInput = row.querySelector('[data-column-id="upc"] div[contenteditable="true"]');
                const skuInput = row.querySelector('[data-column-id="sku"] div[contenteditable="true"]');
                const descriptionInput = row.querySelector('[data-column-id="description"] div[contenteditable="true"]');
                const priceInput = row.querySelector('[data-column-id="smallBusinessPrice"] div[contenteditable="true"]');

                // Track original values to compare later
                const originalName = item.name;
                const originalUpc = item.upc;
                const originalSku = item.sku;
                const originalDescription = item.description;
                const originalPrice = item.smallBusinessPrice;

                const editedItem = {itemId: item.itemId};

                let nameEdited = false;
                let upcEdited = false;
                let skuEdited = false;
                let descriptionEdited = false;
                let priceEdited = false;

                nameInput.addEventListener('input', function () {
                    nameEdited = nameInput.textContent.trim() !== originalName;
                });

                upcInput.addEventListener('input', function () {
                    upcEdited = upcInput.textContent.trim() !== originalUpc;
                });

                skuInput.addEventListener('input', function () {
                    skuEdited = skuInput.textContent.trim() !== originalSku;
                });

                descriptionInput.addEventListener('input', function () {
                    descriptionEdited = descriptionInput.textContent.trim() !== originalDescription;
                });

                priceInput.addEventListener('input', function () {
                    priceEdited = priceInput.textContent.trim() !== originalPrice;
                });

                const saveItemIfEdited = () => {
                    if (nameEdited) {
                        editedItem.name = nameInput.textContent.trim();
                    }
                    if (upcEdited) {
                        editedItem.upc = upcInput.textContent.trim();
                    }
                    if (skuEdited) {
                        editedItem.sku = skuInput.textContent.trim();
                    }
                    if (descriptionEdited) {
                        editedItem.description = descriptionInput.textContent.trim();
                    }
                    if (priceEdited) {
                        editedItem.smallBusinessPrice = priceInput.textContent.trim();
                    }

                    if (nameEdited || upcEdited || skuEdited || descriptionEdited || priceEdited) {
                        editedItems.push(editedItem);
                    }
                };

                // Save changes button click logic
                const saveChangesButton = document.getElementById('save-changes-button');
                saveChangesButton.addEventListener('click', function () {
                    saveItemIfEdited();
                });
            });

        }, 500);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/gridjs@6.1.1/dist/gridjs.umd.js"></script>
<script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>

<footer>
    <p><a id="terms-of-use-footer" href="/terms-of-use">Terms of Use</a></p>
    <p>&#169; 2024 Price Advisor. All rights reserved.</p>
</footer>
</body>
</html>