<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manage Accounts | Price Advisor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<!-- beginning of header -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="btn button logo">Price Advisor</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-items">Add Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compare-prices">Compare Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/watchlist">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/manage-accounts">Manage Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of header -->

<div id="error-message" style="top: 10px;" class="alert alert-danger text-center" th:if="${errorMessage != null}"
     role="alert">
    <span th:text="${errorMessage}"></span>
</div>

<button id="add-user-modal-button" class="btn button btn-lg" style="margin-top: 27px; margin-left: 115px">Add User
</button>
<hr>

<!-- Add User Form Modal -->
<div class="modal fade" id="add-user-modal" tabindex="-1" aria-labelledby="add-user-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-light p-5 rounded shadow mx-auto">
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h1 class="modal-title flex-grow-1 text-center" id="add-user-modal-label">Add User</h1>
            </div>
            <div class="modal-body">
                <!-- Add User Form -->
                <form id="addUserForm" method="POST" action="/add-user" class="w-100">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail:</label>
                        <input type="email" id="email" name="email" class="form-control form-control-lg" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                               required
                               minlength="6"
                               pattern=".*\d.*"
                               oninvalid="this.setCustomValidity('Your password must be at least 6 characters long and contain at least one number.')"
                               oninput="this.setCustomValidity('')">
                    </div>
                    <div class="mb-5">
                        <label for="role" class="form-label">Role:</label>
                        <select id="role" name="role" class="form-select form-select-lg" required>
                            <option value="" selected disabled></option>
                            <option value="ANALYST">Analyst</option>
                            <option value="MANAGER">Manager</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <input class="btn button btn-lg" type="submit" value="Add User">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Grid.js Table for Managing Users -->
<div class="container my-2">
    <div id="user-table"></div>
</div>

<div class="container" id="buttons-container" style="margin-left: 101px; display: none">
    <div class="d-flex justify-content-between my-2">
        <div>
            <a class="btn btn-danger disabled" id="delete-button" style="width: 170px;">Delete Selected</a>
        </div>
        <div>
            <!-- Save Changes Button with id using kebab-case -->
            <a id="save-changes-button" class="btn button" style="width: 170px;">Save Changes</a>
        </div>
    </div>
</div>
<br>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="delete-confirmation-modal" tabindex="-1" aria-labelledby="delete-confirmation-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-confirmation-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure you want to delete the selected user(s)? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirm-delete-button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Save Changes Confirmation Modal -->
<div class="modal fade" id="save-changes-confirmation-modal" tabindex="-1"
     aria-labelledby="save-changes-confirmation-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="save-changes-confirmation-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to save the changes?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirm-save-changes" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Successful Login -->
<div class="modal fade" id="login-success-modal" tabindex="-1" aria-labelledby="login-success-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #39DB14; color: white;">
            <div class="modal-body text-center">
                <h5 class="modal-title" id="login-success-modal-label">Signed In</h5>
            </div>
        </div>
    </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" aria-labelledby="success-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #39DB14; color: white;">
            <div class="modal-body text-center">
                <h5 class="modal-title" id="success-modal-label" th:text="${successMessage}"></h5>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {

        // Modal for login success
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('login') && urlParams.get('login') === 'true') {
            const loginSuccessModal = new bootstrap.Modal(document.getElementById('login-success-modal'));
            loginSuccessModal.show();
            history.replaceState(null, null, window.location.pathname);
            setTimeout(function () {
                loginSuccessModal.hide();
            }, 1000);
        }

        // Display success message modal if successMessage exists
        const successMessage = /*[[${successMessage}]]*/ '';
        const successModal = new bootstrap.Modal(document.getElementById('success-modal'));
        if (successMessage) {
            successModal.show();
            setTimeout(function () {
                successModal.hide();
            }, 1000);
        }

        // Modal for adding a new user
        const addUserModal = new bootstrap.Modal(document.getElementById('add-user-modal'));
        const addUserModalButton = document.getElementById('add-user-modal-button');

        addUserModalButton.addEventListener('click', function () {
            addUserModal.show();
        });

        const deleteButton = document.getElementById('delete-button');

        deleteButton.addEventListener('click', function () {
            deleteConfirmationModal.show(); // Show the modal
        });

        const deleteConfirmationModal = new bootstrap.Modal(document.getElementById('delete-confirmation-modal'));
        const confirmDeleteButton = document.getElementById('confirm-delete-button');  // Reference the confirm delete button

        confirmDeleteButton.addEventListener('click', function () {
            const selectedUserIds = [];
            const checkboxes = document.querySelectorAll('.gridjs-table input[type="checkbox"]:checked'); // Get all checked checkboxes
            checkboxes.forEach(checkbox => {
                const row = checkbox.closest('.gridjs-tr'); // Get the row that contains the checkbox
                const userId = row ? row.getAttribute('user-id') : null; // Get the data-id from the row
                if (userId) {
                    selectedUserIds.push(userId);
                }
            });

            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/delete-users';

            const userIdsInput = document.createElement('input');
            userIdsInput.type = 'hidden';
            userIdsInput.name = 'userIds';
            userIdsInput.value = selectedUserIds.join(',');
            form.appendChild(userIdsInput);

            document.body.appendChild(form);
            form.submit();
        });


        const saveChangesButton = document.getElementById('save-changes-button');
        const saveChangesConfirmationModal = new bootstrap.Modal(document.getElementById('save-changes-confirmation-modal'));
        const confirmSaveChangesButton = document.getElementById('confirm-save-changes');

        saveChangesButton.addEventListener('click', function () {
            saveChangesConfirmationModal.show();
        });

        confirmSaveChangesButton.addEventListener('click', function () {

        });

        // Grid setup for user data display
        const userData = /*[[${users}]]*/ [];
        const grid = new gridjs.Grid({
            columns: [
                {
                    id: 'selectRow',
                    name: '',
                    plugin: {
                        component: gridjs.plugins.selection.RowSelection,
                    },
                    width: '58px',
                },
                {
                    name: 'Email',
                    formatter: (_, row) => {
                        const currentEmail = row.cells[1].data; // Adjust index to reflect the new column
                        return gridjs.html('<input type="email" class="form-control form-control-lg" value="' + currentEmail + '" />');
                    }
                },
                {
                    name: 'Password',
                    type: 'password',
                    formatter: (_) => {
                        // Create a blank password input field (no pre-filled value)
                        return gridjs.html('<input type="password" class="form-control form-control-lg" value="">');
                    },
                },
                {
                    name: 'Role',
                    formatter: (_, row) => {
                        const currentRole = row.cells[3].data; // Adjust index to reflect the new column
                        const roles = ['Analyst', 'Manager']; // List of roles
                        const options = roles
                            .map(role => {
                                const isSelected = role.toLowerCase() === currentRole.trim().toLowerCase() ? 'selected' : '';
                                return `<option value="${role}" ${isSelected}>${role}</option>`;
                            })
                            .join('');
                        return gridjs.html(`
                    <select class="user-dropdown">
                        ${options}
                    </select>
                `);
                    },
                }
            ],
            data: userData.map(user => [
                user.email,
                user.password,
                user.role
            ]),
            fixedHeader: true,
            search: true,
            searchPlaceholder: "Search...",
            resizable: true,
            sort: true,
            language: {
                'search': {
                    'placeholder': 'Search...'
                }
            },
        }).render(document.getElementById('user-table'));

        // Handle showing delete button based on checkboxes
        setTimeout(function () {
            const buttonsContainer = document.getElementById('buttons-container');
            buttonsContainer.style.display = 'block';

             const rows = document.querySelectorAll('.gridjs-tr');

            rows.forEach((row, rowIndex) => {
                if (rowIndex === 0) return;
                const user = userData[rowIndex - 1]; // Access the user object at the given index
                const userId = user.userId; // Get the userId from the object

                row.setAttribute('user-id', userId); // Set the 'data-id' attribute on the row
            });

            const deleteButton = document.getElementById('delete-button');
            const checkboxes = document.querySelectorAll('.gridjs-table input[type="checkbox"]');

            function toggleDeleteButton() {
                const atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                if (atLeastOneChecked) {
                    deleteButton.classList.remove('disabled'); // Enable button
                } else {
                    deleteButton.classList.add('disabled'); // Disable button
                }
            }

            toggleDeleteButton();

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', toggleDeleteButton);
            });

        }, 500);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/gridjs@6.1.1/dist/gridjs.umd.js"></script>
<script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>

<footer>
    <p><a id="terms-of-use-footer" href="/terms-of-use">Terms of Use</a></p>
    <p>&#169; 2024 Price Advisor. All rights reserved.</p>
</footer>
</body>
</html>