<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Terms of Use | Price Advisor</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/css/terms-of-use.css}" rel="stylesheet"/>
</head>

<body>
<!-- beginning of header -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<span class="btn button logo">Price Advisor</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/add-items">Add Items</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/compare-prices">Compare Prices</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/watchlist">Watchlist</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/manage-accounts">Manage Accounts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/settings">Settings</a>
				</li>
				<li class="nav-item" th:switch="${#authentication.name}">
					<a class="nav-link" th:case="'anonymousUser'" href="/templates/sign-in">Sign In</a>
					<a class="nav-link" th:case="*" href="/logout">Sign Out</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- end of header -->

<!-- Main content -->
<main>
	<br><br>
	<h1 class="center" style="font-size: 60px">Terms of Use</h1>
	<br><br>

	<div id="termsOfUse">
		<p>This website is owned and operated by PriceAdvisor.com. These Terms set forth the terms and conditions under which you may use our website and services as offered by us. By accessing or using the website of our service,
			you approve that you have read, understood, and agree to be bound by these Terms.</p>
		<p>In order to use our website and/or receive our services, you must be of the legal age of majority in your jurisdiction, and/or possess the legal authority, right and freedom to enter into these Terms as a binding agreement, regardless of whether you have an account, whether that account is paid, and whether the use of PriceAdvisor.com is through a parent, school, or other party. You are not allowed to use this website and/or receive services if doing so is prohibited in your country or under any law or regulation applicable to you. By using this Site in any capacity, you agree to these Terms; if you do not agree to these Terms, you may not use this Site.</p>
		<p>We may, without prior notice, change the services; stop providing the services or any features of the services we offer; or create limits for the services. We may permanently or temporarily terminate or suspend access to the services without notice and liability for any reason, or for no reason.</p>
		<p>The Service and all materials therein or transferred thereby, including, without limitation, software, images, text, graphics, logos, patents, trademarks, service marks, copyrights, photographs, audio, videos, music
			and all Intellectual Property Rights related thereto, are the exclusive property of PriceAdvisor.com. Except as explicitly provided herein, nothing in these Terms shall be deemed to create a license in or under any such Intellectual Property Rights, and you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works thereof.</p>
		<p>We may permanently or temporarily terminate or suspend your access to the service without notice and liability for any reason, including if in our sole determination you violate any provision of these Terms or any applicable law or regulations. You may discontinue use and request to cancel your account and/or any services at any time. Notwithstanding anything to the contrary in the foregoing, with respect to automatically-renewed subscriptions to paid services, such subscriptions will be discontinued only upon the expiration of the respective period for which you have already made payment.</p>
		<p>You agree to indemnify and hold PriceAdvisor.com harmless from any demands, loss, liability, claims or expenses (including attorneys’ fees), made against them by any third party due to, or arising out of, or in connection with your use of the website or any of the services offered on the website.</p>
		<p>To the maximum extent permitted by applicable law, in no event shall PriceAdvisor.com, be liable for any indirect, punitive, incidental, special, consequential or exemplary damages, including without limitation, damages for loss of profits, goodwill, use, data or other intangible losses, arising out of or relating to the use of, or inability to use, the service.</p>
		<p>To the maximum extent permitted by applicable law, PriceAdvisor.com assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content; (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to or use of our service; and (iii) any unauthorized access to or use of our secure servers and/or any and all personal information stored therein.</p>
		<p>We reserve the right to modify these terms from time to time at our sole discretion. Therefore, you should review these pages periodically to become aware of any such modifications, revisions and updates. Your continued use of the Website or our service after any such change constitutes your acceptance of the new Terms. If you do not agree to any of these terms or any future version of the Terms, do not use or access (or continue to access) the website or the service.</p>
		<p>You agree to receive from time to time promotional messages and materials from us, by mail, email or any other contact form you may provide us with (including your phone number for calls or text messages). If you don't want to receive such promotional materials or notices – please just notify us via the Feedback function at PriceAdvisor.com.</p>
		<p>These Terms, the rights and remedies provided hereunder, and any and all claims and disputes related hereto and/or to the services, shall be governed by, construed under and enforced in all respects solely and exclusively in accordance with the internal substantive laws of New York State without respect to its conflict of laws principles. Any and all such claims and disputes shall be brought in, and you hereby consent to them being decided exclusively by a court of competent jurisdiction located in Brooklyn, NY. The application of the United Nations Convention of Contracts for the International Sale of Goods is hereby expressly excluded.</p>
	</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- beginning of footer -->
<footer>
	<p><a id="terms-of-use-footer" href="/terms-of-use">Terms of Use</a></p>
	<p>&#169; 2024 Price Advisor. All rights reserved.</p>
</footer>
<!-- end of footer -->
</body>
</html>
